@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face
{
	font-family: BIO;
	src : url(Polices/BIO_HAND_CRE.ttf);
}

@font-face
{
  font-family: signature;
  src : url(Font/Signatures.otf);
}

html, body
{
  height: 100%;
  font-family: lato;
}

body
{
  margin: 0;
}


/*HEADER*/



header
{
  height: 100%;
}
#welcome
{
	display: flex;
	font-size: 2em;
	justify-content: center;
	
	font-family: 'lato', sans-serif;
	color: #16a858;
	flex-wrap: wrap;
  height: 50%;
 
}

#welcome img
{
	object-fit: contain;
  vertical-align: -40%;
  width: 40%;
}

#welcome h1
{
  margin-top: 6%;
}






 /* Slideshow container */
.slideshow-container
{
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  height: 50%;
  position: relative;
  box-shadow:  1px 1px 10px 1px #8BB3F0;
}

.mySlides
{
	height: 100%;
	width: 100%;
	
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.slide_legend
{
	font-size: 1.5em;
	font-family: lato, sans-serif;
  background-color: rgba(162, 196, 250, 0.9);
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0;
  padding-bottom: 1%;
  margin: 0;
  width: 100%;
  line-height: 4px;
  text-align: center;
}

#first
{
	background: url("images/salon_agriculture_bleu.jpg") no-repeat top fixed;
	opacity: 0.7;
}

#second
{
  background: url("images/fruits_legumes.jpg") no-repeat top fixed;
  background-size: cover;
  opacity: 0.7;
}

#third
{
  background: url("images/cadi_course.jpg") no-repeat top fixed;
  background-size: cover;
  opacity: 0.7;
}

#dot_container
{
  position: absolute;
  bottom: 0;
  margin-bottom: 0.4%;
  
  
  width: 100%;
}

#dot_controler
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #4C4F4F;
}

/* Fading animation */


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*FIN HEADER */



/*MAIN*/

/*SECTION PRESENTATION*/

main
{
  height: 100%;
}

#presentation
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  max-width: 100%;
  margin-top: 10%;
}

#presentation article
{
  width: 40%;
  min-width: 40%;
}

#presentation article img
{
  max-width: 100%;
  min-width: 80%;
  box-shadow:  1px 1px 10px 1px #BBB;
}

#presentation figcaption
{
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

#conteneur_pres
{
  font-size: 1.2em;
  line-height: 150%;
  max-width: 100%;
}

#conteneur_pres h2
{
  color: #16a858;
}

#conteneur_pres p 
{
  text-align: justify;
  margin-top: 10%;
  color: #4C4F4F;
}

.trait
{
  width: 2px;
  height: 100px;
  background-color: #16a858;
}

#signature
{
  font-family: signature;
  font-size: 1.5em;
  text-align: end;
  margin-top: 20%;
}


                                  /*CONTAINER DISTINCTIONS*/

#container_distinctions 
{
  background-color: #BAD8FB;
  height: auto;
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
  height: auto;

  align-items: center;
  padding: 5%;

  text-align: center;
}

.distinction
{
  text-align: center;
  width: 40%;
  height: 100%;
  object-fit: contain;
}

.distinction img
{ 
  text-align: center;
  margin-bottom: 5%;
}

.distinction figcaption
{
  text-align: center;
  margin: 0 auto;
  font-size: 1.3em;
  color: #4C4F4F;

}

/*SCROLLBAR */

 ::-webkit-scrollbar {
  width: 0.6em;
  height: 0.7em;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 1em;
  border-radius: 1em;

}   

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #4C4F4F; 
} 
::-webkit-scrollbar-corner {
}    

::-webkit-resizer {  
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #4C4F4F; 
}

/*FIN SCROLLBAR */